.navbar {
    position: fixed; /* Change from 'absolute' to 'fixed' */
    top: 0; /* Stick the navbar to the top */
    width: 100vw; /* Ensure the navbar spans the entire width of the viewport */
    z-index: 1000;
    background-color: transparent;
    transition: background-color 2s ease;
    display: flex;
    justify-content: center;
    /* margin-bottom: 20%; */
}
.navbar-hero-container{
    position: fixed;
    z-index: 1111;
}
.nav-link {
    text-decoration: none;
    justify-content: center;
    /* display: inline-block; */
    position: relative;
    /* opacity: 0.75; */
  }
  
  .nav-link:hover {
    opacity: 1;
  }
  
  
.nav-link::before {
    transition: width 400ms; /* Only transition the width property */
    width: 0; /* Initially set the width to 0 */
    height: 2px;
    content: "";
    position: absolute;
    bottom: 0; /* Align the underline to the bottom of the text */
    bottom: 12px; /* Adjust the left positioning to center the underline */
    background-color: #0d68c9;
  }
  
.nav-link:hover::before {
    width: 90%; /* Set the width of the underline to 90% on hover */
    bottom: 12px; /* Adjust the left positioning to keep the underline centered */
  }
  
  .nav-link-ltr:hover::before {
    width: 90%;
  }
.navbar.scrolled {
    background-color: #fff;
    width: 100vw;
    

    /* background: linear-gradient(90deg, rgba(41,57,144,1) 41%, rgba(32,142,233,1) 100%); */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.navbar img {
        height: 60px;
}


.navbar .navbar-inner {
    width: 90%;
    justify-content: center;
}

.navbar .navbar-inner ul {
    text-align: center;
    color: #0d68c9;

}
.ul1{
    margin: 0 auto;
    width: 600px;
    font-weight: 700;
    color: #0d68c9;

}

.navbar .navbar-inner ul li:not(.btn2 ) {
    /* width: 130px; */
    /* border: 2px solid white; */
    /* width: fit-content; */
    height: 50px;
    margin: auto;
    line-height: 2.5;
    justify-content: center;
    color: #0d68c9;

}

.navbar .navbar-inner ul li a:not(.btn2 a) {
    font-size: 14px;
    /* color: #fff; */
    color: #0d68c9;

    letter-spacing: 0.1cqmin;
}
.navbar .navbar-inner .ul2 {
    width: 300px;
}
.btn1{
    font-weight: 700;
}

.visible {
    display: block !important;
}

.sticky-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.btn2{ 
    display: flex;
    background-color: #fff;
    border: 1px solid #0d68c9;
    border-radius: 30px;   
    padding: 0px 20px;
    height: 40px;
    margin: auto;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.btn2:hover{ 
    background: linear-gradient(90deg, rgba(41,57,144,1) 41%, rgba(32,142,233,1) 100%);
    /* border: 1.5px solid white; */
}
.btn2:hover .nav-link2{ 
    color: #fff;
}


.btn2 .nav-link2{ 
    color: #0d68c9;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.1cqmin;
    margin: auto;
    padding: 0;
    transition: all 0.3s ease-in-out;

}
